<div class="sidebar mt-4">
  <ul class="row">
    <a class="link my-2"><span class="material-symbols-outlined me-1">home</span> Home</a>
    <a class="link my-2"><span class="material-symbols-outlined me-1">manufacturing</span> Settings</a>
    <a class="link my-2"><span class="material-symbols-outlined me-1">receipt_long</span> Logs</a>
  </ul>
</div>